<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Ile masz lat?</h2>
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="a">Imie</label>
                    <input class="form-control" type="text" name="a" id="a" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="b">Data urodzenia</label>
                    <input class="form-control" type="date" name="b" id="b" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Oblicz</button>
                </div>
            </form>
        </div>
    </div>
</div>