@model Birth
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Cześć @Model.a, masz @Model.CalculateBirth() lat(a)</h2>
