@model Computer
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Delete computer</h2>
            <form asp-action="Delete" asp-controller="Computer" method="POST">
                <input type="number" asp-for="Id" hidden />
                <div>
                    <label asp-for="Name">Name</label>
                    <input class="form-control" type="text" asp-for="Name" readonly/>
                </div>
                <div>
                    <label asp-for="ComputerType">Computer Type</label>
                    <select class="form-control" asp-for="ComputerType" asp-items="@Html.GetEnumSelectList<ComputerType>()" readonly></select>
                </div>
                <div>
                    <label asp-for="Processor.Name">Processor</label>
                    <div class="form-group">
                        <input class="form-control" type="text" asp-for="Processor.Name" readonly />
                    </div>
                </div>
                <div>
                    <label asp-for="Storage.Name">Storage</label>
                    <div class="form-group">
                        <input class="form-control" type="text" asp-for="Storage.Name" readonly />
                    </div>
                </div>
                <div>
                    <label asp-for="GraphicsCard.Name">Graphics Card</label>
                    <div class="form-group">
                        <input class="form-control" type="text" asp-for="GraphicsCard.Name" readonly />
                    </div>
                </div>
                <div>
                    <label asp-for="Manufacturer">Manufacturer</label>
                    <input class="form-control" type="text" asp-for="Manufacturer" readonly />
                </div>
                <div>
                    <label asp-for="DateOfManufacture">Date of manufacture</label>
                    <input class="form-control" type="text" asp-for="DateOfManufacture" readonly />
                </div>
                <button type="submit">Delete</button>
            </form>
            <form asp-action="Index" asp-controller="Computer" method="GET">
                <button type="submit">Cancel</button>
            </form>
        </div>
    </div>
</div>