@model Computer
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Computer</h2>
            <form>
                <div asp-validation-summary="All"></div>
                <div>
                    <div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Name" readonly/>
                </div>
                <div>
                    <div>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                    <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
                </div>
                <div>
                    <div>
                        <span asp-validation-for="Processor" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Processor" readonly />
                </div>
                <div>
                    <div>
                        <span asp-validation-for="Storage" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Storage" readonly />
                </div>
                <div>
                    <div>
                        <span asp-validation-for="GraphicsCard" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="GraphicsCard" readonly />
                </div>
                <div>
                    <div>
                        <span asp-validation-for="Manufacturer" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Manufacturer" readonly />
                </div>
                <div>
                    <div>
                        <span asp-validation-for="DateOfManufacture" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="DateOfManufacture" readonly />
                </div>
            </form>
            <form asp-action="Index" asp-controller="Computer" method="GET">
                <button type="submit">Back to list</button>
            </form>
        </div>
    </div>
</div>