@model Computer
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Computer</h2>
            <form asp-action="Edit" asp-controller="Computer" method="POST">
                <input type="number" asp-for="Id" hidden />
                <div asp-validation-summary="All"></div>
                <div>
                    <label asp-for="Name">Computer name</label>
                    <div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Name"/>
                </div>
                <div>
                    <label asp-for="Processor">Processor</label>
                    <div>
                        <span asp-validation-for="Processor" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Processor" />
                </div>
                <div>
                    <label asp-for="Storage">Storage</label>
                    <div>
                        <span asp-validation-for="Storage" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Storage" />
                </div>
                <div>
                    <label asp-for="GraphicsCard">GraphicsCard</label>
                    <div>
                        <span asp-validation-for="GraphicsCard" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="GraphicsCard" />
                </div>
                <div>
                    <label asp-for="Manufacturer">Manufacturer</label>
                    <div>
                        <span asp-validation-for="Manufacturer" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="Manufacturer" />
                </div>
                <div>
                    <label asp-for="DateOfManufacture">DateOfManufacture</label>
                    <div>
                        <span asp-validation-for="DateOfManufacture" class="text-danger"></span>
                    </div>
                    <input class="form-control" type="text" asp-for="DateOfManufacture" />
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>